bin/
obj/
Bin/
Obj/
.vs/
Logs/
dbConnectionSettings.Development.json
dbConnectionSettings.IsolatedNoAuth.json
dbConnectionSettings.NoAuth.json
dbConnectionSettings.Isolated.json
*.csproj.user
/src/BES.Admin.Web/appsettings.Production.json
/src/BES.Admin.Web/dbConnectionSettings.Production.json
/src/BES.Admin.Web/Properties/PublishProfiles/WebDeployProduction.pubxml.user
/src/BES.Admin.Web/Properties/PublishProfiles/WebDeployProduction.pubxml
/src/BES.Admin.Web/Properties/PublishProfiles/WebDeployDev.pubxml.user
/src/BES.Admin.Web/Properties/PublishProfiles/WebDeployTest.pubxml.user
/src/BES.Admin.Web/dbConnectionSettings.Migration.json
